absl-py
aiohappyeyeballs
aiohttp
aiosignal
astunparse==1.6.3
attrs
Bottleneck
Brotli
certifi
charset-normalizer
click
conllu
contourpy
cycler
datasets
dill
et-xmlfile
fasttext
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
google-pasta
grpcio
h5py
huggingface_hub
idna
importlib-metadata
inflate64
joblib
keras
kiwisolver
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
mdurl
mkl-service==2.4.0
mkl_fft
mkl_random
ml_dtypes
mlxtend
multidict
multiprocess
multivolumefile
namex
nltk
numexpr
numpy
openpyxl
opt-einsum
optree
packaging
pandas
pillow
prettytable
protobuf==4.25.3
psutil
py7zr
pyarrow
pybcj
pybind11
pybind11_global
pycryptodomex
Pygments
pyparsing
pyppmd
PySocks
python-dateutil
pytz
PyYAML
pyzstd
regex
requests
rich
safetensors
scikit-learn
scipy
setuptools==75.1.0
six
tensorboard
tensorboard_data_server
tensorflow
tensorflow_estimator
termcolor
texttable
tf_keras
threadpoolctl
tiktoken
tokenizers
tqdm
transformers
typing_extensions
tzdata
unicodedata2
urllib3
ViolenceDetector==0.0.1
wcwidth
Werkzeug
wheel==0.44.0
wrapt
xxhash
yarl
zipp

