absl-py
aiohappyeyeballs
aiohttp
aiosignal
astunparse==1.6.3
async-timeout
attrs
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
datasets
dill
fasttext
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface_hub
idna
joblib
keras
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib==3.9.2
mkl-service==2.4.0
mkl_fft
mkl_random
mlxtend
multidict
multiprocess
nltk
numexpr
numpy
oauthlib
opt-einsum
packaging
pandas
pillow
prettytable
protobuf==4.21.12
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pybind11
pybind11-global
pycparser
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
responses
rsa
safetensors
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tokenizers
tqdm
transformers
typing_extensions
tzdata
unicodedata2
urllib3
ViolenceDetector==0.0.1
wcwidth
Werkzeug
wrapt
xxhash
yarl

